<div class="mt-4 container text-center">
<h2>ALL CANDIDATES</h2>
</div>
<% if Candidate.all.count >0   %>
<div class="container text-right">
  <%= link_to "Find fit for a position", positions_path, class: "mt-3 btn btn-success" %>
</div>

<% Candidate.all.each do |candidate| %>
  <div class="container">
    <div class="mt-3 card mb-12">
      <div class="row no-gutters">
        <div class="col-md-2" style="background-color: #b443fa">
        </div>
        <div class="col-md-8">
          <div class="card-body">
          <h5><%=candidate.firstname%> <%=candidate.lastname%></h5>
              <p class="card-text">Skills: <%= candidate.skill.join(" ") %></p>
              <p class="card-text">Number of applications done: <%= candidate.candidatures.count %>  </p>
            <p class="card-text"><small class="text-muted">Create at: <%= candidate.created_at %></small></p>
          </div>
        </div>
        <div class="mt-2 col-md-2">
          <%= link_to "Find fit", positions_path, :class => "mt-2 mb-2 btn btn-primary btn-block"%>
        </div>
      </div>
    </div>
  </div>


  <% end %>
  <% else %>

<div class="mt-4 container text-center">
<div class="mt-4 jumbotron">
  <h1 class="display-4">There are no candidatures yet</h1>


      <%= link_to "Explore candidates", list_candidates_path, class: "mt-4 btn btn-primary"%>
      <%= link_to "Find a match", positions_path, class: "mt-4 btn btn-primary"%>

    </div></div>
</div>
</div>
<% end %>
